<strong> Olá, {{ user }}</strong>
<p>O seu agendamento para atendimento no Registro de imovéis de São José foi 
  realizado com sucesso.</p>
  
<p>A data do seu agendamento é <strong>{{date}}</strong>. O cartório fica 
localizado na Avenida Leoberto Leal, n° 389 1º Andar, no bairro Barreiros em 
São José.</p>

<strong> Em caso de retirada de documentos, é necessário trazer o recibo de 
  antecipação na via original.</strong>

<p> Caso tenha dúvidas, envie um email para atendimento@risaojose.com.br ou 
  ligue no (48) 3247-1677</p>

<small>Não retorne um email para este remetente, caso contrário, seu email não 
  será lido.</small>
